// color settings

// text-colours
$left-text-colour: #B5B5B5;
$left-title-text-colour: #B5B5B5;
$middle-text-colour: #000000;
$middle-title-text-colour: #8D8D8D;
$right-text-colour: #5F6164;

$links-colour: #3577EF;
$buttons-color: #3577EF;

// blocks colours
$left-block-colour: #25272A;
$middle-block-colour: #FFFFFF;
$right-block-colour: #CfD3D7;

// indicators colour
$online-on: #70CC16;
$online-off: #666666;
$indicator: #FD4948;

// ==============================

//font settings

$font-family-lato: 'Lato';
$font-w-400: 400;
$font-w-700: 700;

// ==============================